<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/nav.ejs') %> <%- include('./partials/header.ejs') %>

		<main class="mb-4">
			<div class="container px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<p>
							This blogging platform is made by developers for developers i.e.; on this platform
							developers from all around the world can share there experiences and knowledge that can help
							other developers in their journey to learn and grow. This platform is very intuitive in
							itself and and you don't need to be a veteran developer to write blogs. This platform offers
							freedom to new Developers as well to share theri learning journey and explain say a new
							JavaScript concept that they learned by wrting blogs. Technical writing is one of the key
							skills nowadays as its one of the major importance is that is helps in retaining the
							knowledge we have gained by spending loads of hours.
						</p>
					</div>
				</div>
			</div>
		</main>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
