<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/nav.ejs') %>

		<div class="about content">
			<h2>About us</h2>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi fuga quidem eius quod repellat saepe
				consectetur sit itaque, ullam, sint odit quasi numquam, quis incidunt veniam molestiae magnam reiciendis
				minima.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi fuga quidem eius quod repellat saepe
				consectetur sit itaque, ullam, sint odit quasi numquam, quis incidunt veniam molestiae magnam reiciendis
				minima.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi fuga quidem eius quod repellat saepe
				consectetur sit itaque, ullam, sint odit quasi numquam, quis incidunt veniam molestiae magnam reiciendis
				minima.
			</p>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
