<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body class="pt-5">
		<div class="container border border-4 rounded w-25 mt-xl-5 py-5 text-center">
			<h3>Welcome to Blog World!</h3>
			<i class="fas fa-check-circle fa-4x text-success mt-3"></i>
			<p>Your email is successfully verifed.</p>
			<a class="btn btn-secondary" href="/login">Login to Continue</a>
		</div>

		<%- include("./partials/footer.ejs") %>
		<style>
			footer {
				margin-top: 11rem;
			}
		</style>
	</body>
</html>
